<h2>CARTS</h2>
<form id="formUsers" action="/api/carts" method="post">
   idProduct: <input type="text" name="idProduct" id="idProduct">
    qty: <input type="text" name="qty" id="qty">
    <input type="submit" value="SEND">
</form>